.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: purple;
}

.words-container {
  font-size: calc(10px + 2vmin);
  color: rgb(241, 192, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-display {
  color:rgb(63, 242, 212);
}